@model Namira.Areas.Admin.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Add product";
    var action = ViewBag.Page == "edit" ? "Edit" : "Add";
}

    <div class="container">
        <h1>@ViewBag.Title</h1>
        <form asp-area="Admin" asp-action="@action" asp-controller="Product" method="post">
            <ul class="nav nav-tabs">
                @{ int i = 0; }
                @foreach (var item in Model.Languages)
                {
                    <li class="nav-item">
                        <a class="nav-link @{ Write(i == 0 ? "active" : ""); i++; }" data-toggle="tab" href="#@item.Slug">@item.Name</a>
                    </li>
                }
            </ul>

            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="tab-content">
                @for (int j = 0; j < Model.Languages.Count; j++)
                {
                    <input asp-for="@Model.ProductLanguages[@j].Id" type="hidden" />

                    var status = j == 0 ? "active" : "";
                    <div class="tab-pane @status" id="@Model.Languages[j].Slug">
                        <div class="form-group">
                            <label asp-for="@Model.ProductLanguages[@j].Name">Name</label>
                            <input asp-for="@Model.ProductLanguages[@j].Name" type="text" class="form-control">
                            <span asp-validation-for="@Model.ProductLanguages[@j].Name" class="form-text text-muted"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.ProductLanguages[@j].Description">Description</label>
                            <textarea asp-for="@Model.ProductLanguages[@j].Description" class="form-control"></textarea>
                            <span asp-validation-for="@Model.ProductLanguages[@j].Description" class="form-text text-muted"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.ProductLanguages[@j].MetaDescription">Meta Description</label>
                            <textarea asp-for="@Model.ProductLanguages[@j].MetaDescription" class="form-control"></textarea>
                            <span asp-validation-for="@Model.ProductLanguages[@j].MetaDescription" class="form-text text-muted"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.ProductLanguages[@j].MetaKeywords">Meta Keywords</label>
                            <textarea asp-for="@Model.ProductLanguages[@j].MetaKeywords" class="form-control"></textarea>
                            <span asp-validation-for="@Model.ProductLanguages[@j].MetaKeywords" class="form-text text-muted"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="@Model.ProductLanguages[@j].LanguageId" type="hidden" class="form-control" value="@Model.Languages[j].Id">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                }
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.ProductCode">ProductCode</label>
                <input asp-for="@Model.Product.ProductCode" type="text" class="form-control">
                <span asp-validation-for="@Model.Product.ProductCode" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.Price">Price</label>
                <input asp-for="@Model.Product.Price" type="text" class="form-control">
                <span asp-validation-for="@Model.Product.Price" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.Discount">Discount</label>
                <input asp-for="@Model.Product.Discount" type="number" class="form-control">
                <span asp-validation-for="@Model.Product.Discount" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.Raiting">Raiting</label>
                <input asp-for="@Model.Product.Raiting" type="number" class="form-control">
                <span asp-validation-for="@Model.Product.Raiting" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.View">View</label>
                <input asp-for="@Model.Product.View" type="number" class="form-control">
                <span asp-validation-for="@Model.Product.View" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.NumberPurchases">Purchases</label>
                <input asp-for="@Model.Product.NumberPurchases" type="number" class="form-control">
                <span asp-validation-for="@Model.Product.NumberPurchases" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.BrandId">Brand</label>
                <select asp-for="@Model.Product.BrandId" asp-items="@Model.Brands" class="form-control"></select>
                <span asp-validation-for="@Model.Product.BrandId" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.CountryId">Countries</label>
                <select asp-for="@Model.Product.CountryId" asp-items="@Model.Countries" class="form-control"></select>
                <span asp-validation-for="@Model.Product.CountryId" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.FabricsId">Fabrics</label>
                <select asp-for="@Model.Product.FabricsId" asp-items="@Model.Fabrics" class="form-control selectpicker" multiple></select>
                <span asp-validation-for="@Model.Product.FabricsId" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.CategoryId">Categories</label>
                <select asp-for="@Model.Product.CategoryId" class="form-control">
                    <option disabled selected>Select</option>
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                        if (item.Subcategories != null && item.Subcategories.Count > 0)
                        {
                            @foreach (var sub in item.Subcategories)
                            {
                                <option value="@sub.Id">@sub.Name</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="@Model.Product.CategoryId" class="form-text text-muted"></span>
            </div>

            <div class="color">
                <div class="form-group">
                    <label>Color</label>
                    <input type="color" class="form-control">
                    <span class="form-text text-muted"></span>
                </div>

                <div class="row size-container" data-count="@Model.Sizes.Count()">
                    <div class="col-3 size-item">
                        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                            <div class="card-header">Header</div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Size</label>
                                    <select asp-for="@Model.Product.CountryId" asp-items="@Model.Sizes" class="form-control select-size"></select>
                                    <span class="form-text text-muted"></span>
                                </div>

                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input type="number" class="form-control quantity">
                                    <span class="form-text text-muted"></span>
                                </div>

                                <div class="form-group delegate">
                                    <a class="btn btn-success add-size" style="display: block;">Add size</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        Images
                    </div>
                    <div class="card-body">
                        @*<img class="img-fluid" src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" />*@

                        <div class="upload-demo-wrap">
                            <div id="crop-image"></div>
                        </div>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" accept="image/*" class="custom-file-input" id="upload-image">
                                <label class="custom-file-label" for="inputGroupFile04">Choose image</label>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-outline-info crop-but" type="button">Crop</button>
                            </div>
                        </div>

                        <div class="row image-container">
                            <div class="col-3 image-product">
                                <img class="img-fluid crop-result" />
                                <a class="delete-image">Delete</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </form>

        <div class="toast" role="alert" aria-live="polite" aria-atomic="true" data-delay="5000" style="position: fixed; top: 10px; right: 10px;">
            <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
                <div class="toast-header">
                    @*<img src="..." class="rounded mr-2" alt="...">*@
                    <strong class="mr-auto">Warning</strong>
                    @*<small>11 mins ago</small>*@
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>

@section styles {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/lib/crop/croppie.css" />
}

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-select.js"></script>
    <script src="~/lib/crop/croppie.js"></script>
}