@model Namira.Areas.Admin.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Add product";
    var action = ViewBag.Page == "edit" ? "Edit" : "Add";
}

    <div class="container">
        <h1>@ViewBag.Title</h1>
        <form asp-area="Admin" asp-action="@action" asp-controller="Product" method="post" class="product-form">
            <ul class="nav nav-tabs">
                @{ int i = 0; }
                @foreach (var item in Model.Languages)
                {
                    <li class="nav-item">
                        <a class="nav-link @{ Write(i == 0 ? "active" : ""); i++; }" data-toggle="tab" href="#@item.Slug">@item.Name</a>
                    </li>
                }
            </ul>

            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="tab-content">
                @for (int j = 0; j < Model.Languages.Count; j++)
                {
                    <input asp-for="@Model.ProductLanguages[@j].Id" type="hidden" />

                    var status = j == 0 ? "active" : "";
                    <div class="tab-pane fade show @status" id="@Model.Languages[j].Slug">
                        <div class="form-group">
                            <label asp-for="@Model.ProductLanguages[@j].Name">Name</label>
                            <input asp-for="@Model.ProductLanguages[@j].Name" type="text" class="form-control">
                            <span asp-validation-for="@Model.ProductLanguages[@j].Name" class="form-text text-muted"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.ProductLanguages[@j].Description">Description</label>
                            <textarea asp-for="@Model.ProductLanguages[@j].Description" class="form-control"></textarea>
                            <span asp-validation-for="@Model.ProductLanguages[@j].Description" class="form-text text-muted"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.ProductLanguages[@j].MetaDescription">Meta Description</label>
                            <textarea asp-for="@Model.ProductLanguages[@j].MetaDescription" class="form-control"></textarea>
                            <span asp-validation-for="@Model.ProductLanguages[@j].MetaDescription" class="form-text text-muted"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="@Model.ProductLanguages[@j].MetaKeywords">Meta Keywords</label>
                            <textarea asp-for="@Model.ProductLanguages[@j].MetaKeywords" class="form-control"></textarea>
                            <span asp-validation-for="@Model.ProductLanguages[@j].MetaKeywords" class="form-text text-muted"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="@Model.ProductLanguages[@j].LanguageId" type="hidden" class="form-control" value="@Model.Languages[j].Id">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                }
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.ProductCode">ProductCode</label>
                <input asp-for="@Model.Product.ProductCode" type="text" class="form-control">
                <span asp-validation-for="@Model.Product.ProductCode" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.Price">Price</label>
                <input asp-for="@Model.Product.Price" type="text" class="form-control">
                <span asp-validation-for="@Model.Product.Price" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.Discount">Discount</label>
                <input asp-for="@Model.Product.Discount" type="number" class="form-control">
                <span asp-validation-for="@Model.Product.Discount" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.Raiting">Raiting</label>
                <input asp-for="@Model.Product.Raiting" type="number" class="form-control">
                <span asp-validation-for="@Model.Product.Raiting" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.View">View</label>
                <input asp-for="@Model.Product.View" type="number" class="form-control">
                <span asp-validation-for="@Model.Product.View" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.NumberPurchases">Purchases</label>
                <input asp-for="@Model.Product.NumberPurchases" type="number" class="form-control">
                <span asp-validation-for="@Model.Product.NumberPurchases" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.BrandId">Brand</label>
                <select asp-for="@Model.Product.BrandId" asp-items="@Model.Brands" class="form-control"></select>
                <span asp-validation-for="@Model.Product.BrandId" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.CountryId">Countries</label>
                <select asp-for="@Model.Product.CountryId" asp-items="@Model.Countries" class="form-control"></select>
                <span asp-validation-for="@Model.Product.CountryId" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.FabricsId">Fabrics</label>
                <select asp-for="@Model.Product.FabricsId" asp-items="@Model.Fabrics" class="form-control selectpicker" multiple></select>
                <span asp-validation-for="@Model.Product.FabricsId" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Product.CategoryId">Categories</label>
                <select asp-for="@Model.Product.CategoryId" class="form-control">
                    <option disabled selected>Select</option>
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.Product.CategoryId" class="form-text text-muted"></span>
            </div>

            <div class="card mb-3 main-image">
                <div class="card-header">
                    <div class="header-text">Main images</div>
                </div>
                <div class="card-body">

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active nav-link-size" data-toggle="tab" href="#front-image">Front image</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-images" data-toggle="tab" href="#back-image">Back image</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active tab-pane-main" id="front-image">

                            <div class="card mt-2">
                                <div class="card-body">
                                    <div class="upload-demo-wrap">
                                        <div class="crop-front-image"></div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade model-image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Crop main image</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img class="crop-main-image rounded mx-auto d-block" src="#" />
                                                    <input type="hidden" asp-for="@Model.Product.Foreground" class="crop-main-input" value="" />
                                                    <span asp-validation-for="@Model.Product.Foreground" class="form-text text-muted"></span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" accept="image/*" class="custom-file-input upload-main">
                                            <label class="custom-file-label" for="inputGroupFile04">Choose image</label>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-info crop-main-but" type="button">Crop</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade tab-pane-main" id="back-image">

                            <div class="card mt-2">
                                <div class="card-body">
                                    <div class="upload-demo-wrap">
                                        <div class="crop-back-image"></div>
                                    </div>

                                    <!-- Modal -->
                                    <div class="modal fade model-image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Crop main image</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <img class="crop-main-image rounded mx-auto d-block" src="#" />
                                                    <input type="hidden" asp-for="@Model.Product.Background" class="crop-main-input" value="" />
                                                    <span asp-validation-for="@Model.Product.Background" class="form-text text-muted"></span>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" accept="image/*" class="custom-file-input upload-main">
                                            <label class="custom-file-label" for="inputGroupFile04">Choose image</label>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-info crop-main-but" type="button">Crop</button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="product-color-container">
                <div class="color-product card mb-3" data-name="">
                    <div class="card-header color-product-header">
                        <div class="header-text">Product color</div>
                        <a class="color-delete btn btn-outline-danger">Delete</a>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Color</label>
                            <input type="color" class="form-control color-input" name="">
                            <span class="form-text text-muted"></span>
                        </div>

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active nav-link-size" data-toggle="tab" href="#size-h">Size</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-images" data-toggle="tab" href="#images-h">Images</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active tab-pane-size" id="size-h">

                                <div class="card mt-2">
                                    <div class="card-body">
                                        <div class="row size-container" data-count="@Model.Sizes.Count()">
                                            <div class="col-3 size-item">
                                                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                                                    <div class="card-header">Header</div>
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label>Size</label>
                                                            <select asp-items="@Model.Sizes" name="" class="form-control select-size"></select>
                                                            <span class="form-text text-muted"></span>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>Quantity</label>
                                                            <input type="number" class="form-control quantity" name="">
                                                            <span class="form-text text-muted"></span>
                                                        </div>

                                                        <div class="form-group delegate">
                                                            <a class="btn btn-success add add-size">Add size</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade tab-pane-images" id="images-h">

                                <div class="card mt-2">
                                    <div class="card-body">
                                        <div class="upload-demo-wrap">
                                            <div class="crop-image"></div>
                                        </div>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" accept="image/*" class="custom-file-input upload-image">
                                                <label class="custom-file-label" for="inputGroupFile04">Choose image</label>
                                            </div>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-info crop-but" type="button">Crop</button>
                                            </div>
                                        </div>

                                        <div class="row image-container">
                                            <div class="col-3 image-product">
                                                <img class="img-fluid crop-result" />
                                                <input class="img-input" type="hidden" value="" name="" />
                                                <a class="delete-image">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <!---->
                @if (Model.ProductColors != null && Model.ProductColors.Count > 0)
                {
                    @for (int j = 0; j < Model.ProductColors.Count; j++)
                    {
                        <div class="color-product card mb-3" data-name="">
                            <div class="card-header color-product-header">
                                <div class="header-text">Product color</div>
                                <a class="color-delete btn btn-outline-danger">Delete</a>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="@Model.ProductColors[j].Color">Color</label>
                                    <input type="color" class="form-control color-input" asp-for="@Model.ProductColors[j].Color">
                                    <span asp-validation-for="@Model.ProductColors[j].Color" class="form-text text-muted"></span>
                                </div>

                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active nav-link-size" data-toggle="tab" href="#size-@j">Size</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-images" data-toggle="tab" href="#images-@j">Images</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active tab-pane-size" id="size-@j">

                                        <div class="card mt-2">
                                            <div class="card-body">
                                                <div class="row size-container" data-count="@Model.Sizes.Count()">
                                                    @if (@Model.ProductColors[j].ColorSizes != null && @Model.ProductColors[j].ColorSizes.Count > 0)
                                                    {
                                                        for (var s = 0; s < @Model.ProductColors[j].ColorSizes.Count; s++)
                                                        {
                                                            <div class="col-3 size-item">
                                                                <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                                                                    <div class="card-header">Header</div>
                                                                    <div class="card-body">
                                                                        <div class="form-group">
                                                                            <label asp-for="@Model.ProductColors[j].ColorSizes[s].SizeId">Size</label>
                                                                            <select asp-items="@Model.Sizes" asp-for="@Model.ProductColors[j].ColorSizes[s].SizeId" class="form-control select-size"></select>
                                                                            <span asp-validation-for="@Model.ProductColors[j].ColorSizes[s].SizeId" class="form-text text-muted"></span>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label asp-for="@Model.ProductColors[j].ColorSizes[s].Quantity">Quantity</label>
                                                                            <input type="number" class="form-control quantity" asp-for="@Model.ProductColors[j].ColorSizes[s].Quantity">
                                                                            <span asp-validation-for="@Model.ProductColors[j].ColorSizes[s].Quantity" class="form-text text-muted"></span>
                                                                        </div>

                                                                        <div class="form-group delegate">
                                                                            <a class="btn btn-success add add-size">Add size</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade tab-pane-images" id="images-@j">

                                        <div class="card mt-2">
                                            <div class="card-body">
                                                <div class="upload-demo-wrap">
                                                    <div class="crop-image"></div>
                                                </div>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" accept="image/*" class="custom-file-input upload-image">
                                                        <label class="custom-file-label" for="inputGroupFile04">Choose image</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-info crop-but" type="button">Crop</button>
                                                    </div>
                                                </div>

                                                <div class="row image-container">
                                                    @if (@Model.ProductColors[j].Images != null && @Model.ProductColors[j].Images.Count > 0)
                                                    {
                                                        @for (int l = 0; l < @Model.ProductColors[j].Images.Count; l++)
                                                        {
                                                            <div class="col-3 image-product" style="display: block !important;">
                                                                <img class="img-fluid crop-result" src="@Model.ProductColors[j].Images[l]" />
                                                                <input class="img-input" type="hidden" asp-for="@Model.ProductColors[j].Images[l]" />
                                                                <a class="delete-image">Delete</a>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <a class="btn btn-info add add-color mt-2">Add color product</a>
        </form>

        <div class="toast" role="alert" aria-live="polite" aria-atomic="true" data-delay="5000" style="position: fixed; top: 10px; right: 10px;">
            <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
                <div class="toast-header">
                    @*<img src="..." class="rounded mr-2" alt="...">*@
                    <strong class="mr-auto">Warning</strong>
                    @*<small>11 mins ago</small>*@
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>
    </div>

@section styles {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/lib/crop/croppie.css" />
}

@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-select.js"></script>
    <script src="~/lib/crop/croppie.js"></script>
}